{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% trans_default_domain 'clock-in' %}
{% block page_title %}{{ 'clock_in.title'|trans({}, 'clock-in') }}{% endblock %}
{% block page_subtitle %}{{ 'clock_in.subtitle'|trans }}{% endblock %}

{% block page_content_class %}{{ parent() }} Clock-in{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-24 col-xs-48">
            <div class="info-box">
                <div class="info-box-content" style="margin-left: 0">
                    {{ 'info.last-booking'|trans }}
                    {% if latest_activity is not null %}
                        <div class="info-box-number">
                            <div class="clock-in-info">

                                {% if latest_activity.icon is not empty %}
                                    <i class="{{ latest_activity.icon.class }} text-{{ latest_activity.icon.color }}"></i>
                                {% endif %}

                                {% if clock_in_activity_id != latest_activity.activityId and latest_activity.action == constant('KimaiPlugin\\ClockInBundle\\Entity\\LatestActivity::ACTIVITY_PAUSE') %}
                                    {#pause text + project#}
                                    ({{ ('label.'~latest_activity.action)|trans }}) <span
                                        class="text-secondary text-muted">{{ latest_activity.activityName }}</span>
                                    <div class="text-secondary text-muted">{{ latest_activity.projectName }}</div>

                                {% elseif clock_in_activity_id != latest_activity.activityId and latest_activity.action == constant('KimaiPlugin\\ClockInBundle\\Entity\\LatestActivity::ACTIVITY_RESUME') %}

                                    {#resume: text + project#}
                                    <span class="text-secondary text-muted">({{ ('label.'~latest_activity.action)|trans }})</span> {{ latest_activity.activityName }}
                                    <div>{{ latest_activity.projectName }}</div>

                                {% elseif latest_activity.action is not null %}

                                    {# start/stop: only text#}
                                    {{ ('label.'~latest_activity.action)|trans }}
                                    <div>--</div>

                                {% else %}
                                    {# default: only project details #}
                                    <span>{{ latest_activity.activityName }}</span>
                                    <div>{{ latest_activity.projectName }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {{ 'info.booked-at'|trans }} <strong>{{ latest_activity.time|date('d.m.Y H:i:s') }}</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center">
            {{ form_start(form) }}
            {{ form_row(form.start) }}
            <div class="form-group">
                {{ form_widget(form.pause) }}
                {{ form_widget(form.resume) }}
            </div>

            {{ form_row(form.activity) }}

            {{ form_row(form.stop) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-right">
            <hr style="border-color: black; margin-top: 150px;">
            <a href="{{ path('clock_in_reset_state') }}" class="btn btn-default btn-xs">reset</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('kimai.timesheetUpdate', function() {
            var datatable = kimai.getPlugin('datatable');

            datatable.reloadDatatable();
        });
    </script>
{% endblock %}
